body{
    background-color: #4E56C0;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: aliceblue;
    font-size: 20px;
}

.getStartBtn, .card, .cardEnd{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.getStartBtn{    
    background-color: #9B5DE0;
    height: 35px;
    width: 120px;
    border: none;
    border-radius: 5px;
    box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.3);
    font-size: 15px;
    font-weight: 600;
    color: #FDCFFA;
    cursor: pointer;
    /*opacity: 0; /*dont forget to actived*/
}
.getStartBtn:hover{
    box-shadow: -3px 3px 6px rgba(0, 0, 0, 0.7);
}

.card-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #cf7aeb;
    padding: 5px 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    font-size: 17px;
    position: relative;
}


.card{
    width: 550px;
    background-color: #9B5DE0;
    border-radius: 7px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
    padding: 5px 10px;
    opacity: 0;
    pointer-events: none;

    transform: translate(-50%, -50%) scale(0.5);
    transition: all 0.5s ease;
    
}





.question-part .question{
    border-bottom:2px solid #9B5DE0 ;
    padding-bottom: 3px;
    font-size: 19px;
    
}
.question-part .option{
    background-color: #FDCFFA;
    color: #4E56C0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left:10px ;
    padding-right: 10px;
    margin-top: 2px;
    border-radius: 5px;
}

.question-part .option:hover{
    background-color: #dfa8db;
}

.option.incorrect{
    background-color: #f48552;
}

.option.correct{
    background-color: #9cd5b1;
}

.active{
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
}

.next{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 7px;
}

.next .progres{
    background-color: #78428a;
    height: 35px;
    width: 80px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.next-btn{
    height: 35px;
    width: 80px;
    border: none;
    border-radius: 5px;
    background-color: #78428a;
    color: white;
    cursor: pointer;
}


.disabled{
    opacity: 0;
    pointer-events: none;
    cursor: none;
}

.pointerEventNone{
    pointer-events: none;
}


/*end of test*/

.cardEnd{
    width: 700px;
    height: 400px;
    background-color: #5d417d;
    border-radius: 7px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
    /* opacity: 1; */
    /* pointer-events: none; */

    transform: translate(-50%, -50%) scale(0.5);
    transition: all 0.5s ease;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 35px;
}

#testiYenile{
    margin: 7px;
    padding: 10px;
    height: auto;
    width: auto;
    font-size: 30px;
    border: none;
    border-radius: 5px;
    background-color: #a11dcd;
    color: white;
    cursor: pointer;
}

#testiBitir{
   margin: 7px;
    padding: 10px;
    height: auto;
    width: auto;
    font-size: 30px;
    border: none;
    border-radius: 5px;
    background-color: #a11dcd;
    color: white;
    cursor: pointer;
}

/* timer */
.timer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 110px;

}

.timeLine{
    height: 2px;
    position: absolute;
    background-color: yellow;
    bottom: 0;
    left: 0;
}