* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --main: #5d1c6a;
  --second: #ca5995;
  --bg: #fff1d3;
  --thred: #ffb090;
  --transform-timer: 0.3s;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg);
}

.steps {
  display: flex;
  width: 300px;
  justify-content: space-between;
  align-items: center;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--second);
  padding: 10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-weight: 700;
  font-size: 18px;
  transition: all var(--transform-timer) ease var(--transform-timer);
}

.pip {
  width: 100%;
  height: 4px;
  border: 1px solid var(--main);
  background-color: var(--second);
}

.buttons {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.buttons button {
  padding: 7px;
  margin: 10px;
  width: 80px;
  background-color: var(--main);
  color: white;
  border: none;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  font-weight: 600;
  font-size: 15px;
  cursor: pointer;
}

.buttons button:hover {
  background-color: var(--second);
  color: black;
}

.item.prossed {
  border-color: var(--main);
  background-color: var(--main);
  color: white;
}

.sub-pip {
  width: 0;
  height: 0;
  border: 0px solid var(--main);
  background-color: var(--second);
  transition: all var(--transform-timer) linear;
}

.sub-prossed {
  width: 100%;
  height: 4;
  border: 1px solid var(--main);
}

button:disabled {
  cursor: not-allowed;
  background-color: gray;
  color: black;
}
