* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.item.active {
  height: 200px;
  background-color: goldenrod;
  width: 80%;
}

.item {
  background-color: aqua;
  width: 100px;
  height: 100px;
  margin: 30%;
}

.active {
  background-color: blue;
  width: 300px;
}
