/* 
#050E3C
#002455
#DC0000
#FF3838
*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
}

.container{
    background-color: #050E3C;
    min-width: 500px;
    min-height: 500px;
    border-radius: 10px;
    box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#controls{
    color: #FF3838;
}

#controls #prev, #next, #play{
    font-size: 2rem;
}

p{
    font-size: 1.5rem;
    margin: 10px;
}
img{
    width: 90%;
    border-radius: 50%;
}

#bar, #prgress-bar{
    width: 95%;
    margin: 0 10px;
}

.time{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.con-val{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.con-val i{
    font-size: 1.3rem;
    margin-right: 3px;
}