

.oswald {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.myColor1{
    background-color: rgb(82, 197, 153);
}
.myColor2{
    background-color: rgb(134, 129, 198);
}
